.menu {
    position: fixed;
    min-width: 320px;
    height: 100vh;
    background-color: aliceblue;
    top: 0;
    left: -90%;
    transition: left 0.3s ease-out;
    z-index: 9;
}

.activeMenu .menu {
    left: 0;
}

.activeMenu .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.45);
}

.pi {
    position: relative;
    top: 5px;
    left: 5px;
}
